[user]
	name = kyriosdata
	email = fabio@engenhariadesoftware.inf.br
[credential]
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credencial]
	helper = wincred
	helper = kyriosdata
[credential]
	helper = wincred
